:root {
    --main-color: #ffe600;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
ul, nav {
    list-style: none;
}
img {
    max-width: 100%;
}
.our-h2 {
    font-weight: 800;
}

.header .container {
    height: 70px;
}
.header .container .logo-img {
    width: 40px;
}
.header .container i {
    display: none;
}
.header .container .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s cubic-bezier(1, 0, 0, 1);
}
.header .container .navbar li {
    height: 70px;
    position: relative;
    cursor: pointer;
}
.header .container .navbar li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    cursor: pointer;
    z-index: -2;
    animation: scale-bg 0.4s linear;
    display: none;
}
.header .container .navbar li:hover::before {
    display: block;
}
.header .container .navbar li a {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.landing {
    height: calc(100vh - 70px);
}
.landing .container .texts-btns {
    width: 550px;
}
.landing .container .texts-btns h1 {
    font-weight: 800;
    animation: fade-left 1.8s alternate;
}
.landing .container .texts-btns p {
    font-weight: 600;
    font-size: 12px;
    animation: fade-top 1.8s alternate;
}
.landing .container .texts-btns a {
    background-color: var(--main-color);
    font-weight: 600;
    font-size: 14px;
    width: fit-content;
    animation: fade-top 1.8s alternate;
    transition: 0.3s;
}
.landing .container .texts-btns a:hover {
    background-color: #000;
    color: var(--main-color) !important;
}
.landing .container .land-img {
    width: 320px;
    animation: fade-right 1.8s alternate;
}

.landing .container .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 60%);
    z-index: 10320;
    display: none;
}
.landing .container .overlay .msg-field {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 70px 0;
    padding-left: 20px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    border-radius: 10px;
}
.landing .container .overlay .msg-field h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.landing .container .overlay .msg-field textarea {
    width: 100%;
    height: 140px;
    border: none;
    outline: none;
    border: 1px solid rgba(0 0 0 / 20%);
    padding: 20px 30px;
    resize: none;
    border-radius: 5px;
}
.landing .container .overlay .msg-field input {
    border: none;
    background-color: var(--main-color);
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 20px;
    transition: 0.3s;
}
.landing .container .overlay .msg-field i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}
.landing .container .overlay .msg-field input:hover {
    background-color: #000;
    color: var(--main-color);
}

.show-case .container h2 {
    font-weight: 800;
}
.show-case .container .filter-bar ul li {
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}
.show-case .container .filter-bar ul li.active,
.show-case .container .filter-bar ul li:hover {
    background-color: var(--main-color);
}
.show-case .container .filter-bar span {
    cursor: pointer;
    font-weight: 500;
}
.show-case .container .filter-bar span i {
    font-size: 12px;
    margin-left: 5px;
}
.show-case .container .artworks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    margin: 50px auto;
}
.show-case .container .artworks .col {
    margin: 2px auto;
}
.show-case .container .artworks .col .col-images,
.show-case .container .artworks .col .col-images img {
    width: 300px;
    overflow: hidden;
}
.show-case .container .artworks .col .sm-pics {
    height: 260.14px;
}
.show-case .container .artworks .col .lg-pics,
.show-case .container .artworks .col .lg-pics img {
    height: 435.83px;
}
.show-case .container a {
    display: block;
    margin: 2px auto;
    color: black;
    background-color: var(--main-color);
    font-weight: 600;
    font-size: 14px;
    width: fit-content;
    padding: 20px 35px;
    text-transform: uppercase;
    transition: 0.3s;
}
.show-case .container a:hover {
    background-color: #000;
    color: var(--main-color) !important;
}

.partners .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 150px auto;
    gap: 50px;
}
.partners .container .images {
    width: 80px;
    margin: 0 auto;
}

.about-us .container .imgs-more .imgs {
    display: flex;
}
.about-us .container .imgs-more .imgs .imags {
    width: 250px;
    height: 300px;
    overflow: hidden;
    margin-right: 60px;
    position: relative;
}
.about-us .container .imgs-more .imgs .imags::before {
    content: 'Luke Skywalker';
    position: absolute;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    width: 70%;
    height: 50px;
    padding: 5px 0 0 20px;
    font-size: 12px;
    font-weight: bold;
}
.about-us .container .imgs-more .imgs .imags::after {
    content: 'Web Designer';
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #fff;
    font-size: 11px;
}
.about-us .container .imgs-more .imgs .snd-image img {
    height: 300px;
}
.about-us .container .imgs-more .lt-more p,
.about-us .container .imgs-more .lt-more a {
    font-size: 14px;
    font-weight: 500;
}

.our-blog .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 20px;
}
.our-blog .container .cards .card {
    border: none;
}
.our-blog .container .cards .card .card-img {
    margin: 5px auto;
}
.our-blog .container .cards .card .txts p {
    font-size: 12px;
    width: 300px;
    line-height: 2.1;
    margin-top: 20px;
}

.contact-us .container .form-data form h6 {
    font-weight: 900;
}
.contact-us .container .form-data form input:not(:last-child) {
    width: 554px;
    height: 40px;
    border: none;
    border: 1px solid rgba(0 0 0 / 10%);
    outline: none;
    margin: 15px 0;
    padding: 15px;
}
.contact-us .container .form-data form textarea {
    width: 554px;
    border: none;
    border: 1px solid rgba(0 0 0 / 10%);
    outline: none;
    margin: 15px 0;
    padding: 15px;
    resize: none;
}
.contact-us .container .form-data form input:last-child {
    background-color: var(--main-color);
    border: none;
    font-weight: 600;
    font-size: 14px;
    width: fit-content;
    transition: 0.3s;
}
.contact-us .container .form-data form input:last-child:hover {
    background-color: #000;
    color: var(--main-color) !important;
}
.contact-us .container .form-data .form-img {
    width: 400px;
}
.contact-us .container .adresses .ad-data {
    margin: 160px 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us .container .adresses .ad-data img {
    margin-bottom: 30px;
    width: 20px;
}
.contact-us .container .adresses .phone img {
    width: 15px;
    height: 23px;
}
.contact-us .container .adresses .e-mail img {
    width: 22px;
    transform: translateY(-10px);
}
.contact-us .container ul {
    gap: 60px;
}

.footer .container {
    padding: 50px 0;
}
.footer .container .copyrights .foot-img {
    width: 80px;
}
.footer .container .copyrights .foot-img img {
    filter: invert(1);
}
.footer .container .btt .to-top {
    display: none;
}